.DefaultContent {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Side {
  float: left;
  background-color: #f0f0ff;
  border-right: solid 3px #ccc;
  width: 20%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.access_counter {
  background: black;
  border: ridge 7px #b7caf1;
  color: #68f312;
  display: inline-block;
  font-family: digitalFont;
  -webkit-font-smoothing: auto;
  font-size: 30px;
  padding: 5px 4px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
